html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

header {
	height: 208px;
	background-image: url('./img/THJJRUhNlEc.png');
	background-size: cover;
	background-color: grey;
}

.icon {
	width: 20px;
	height: 20px;
}

.add-btn {
	display: flex;
	align-items: center;
}

.add-btn:hover,
.add-btn:focus {
	cursor: pointer;
}
